.Calendly {
  text-align: center;
}

.heading {
	color: #00a2ff;
	font-size: 25px;
}

.divider {
	border-bottom: 1px solid #dadada;
	border-width: 1px;
	margin: 25px 0;
}

.time-select {
	font-size: 13px;
}
